@model Ezel_Market.Models.Inventario

@{
    ViewData["Title"] = "Nuevo Producto";
}

<h1>Agregar nuevo producto al Inventario</h1>

<!-- ✅ Agregamos enctype para aceptar archivos -->
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="NombreProducto"></label>
        <input asp-for="NombreProducto" class="form-control" />
        <span asp-validation-for="NombreProducto" class="text-danger"></span>
    </div>
    
    @*<div class="form-group">
        <label asp-for="CategoriasId">Categoría</label>
        <select asp-for="CategoriasId" asp-items="ViewBag.Categorias" class="form-control"></select>
        <span asp-validation-for="CategoriasId" class="text-danger"></span>
    </div>*@
    
    <div class="form-group">
        <label asp-for="Cantidad"></label>
        <input asp-for="Cantidad" class="form-control" type="number" min="0" />
        <span asp-validation-for="Cantidad" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PrecioCompra"></label>
        <div class="input-group">
            <span class="input-group-text">S/</span>
            <input asp-for="PrecioCompra" class="form-control" type="number" min="0" step="0.01" />
        </div>
        <span asp-validation-for="PrecioCompra" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PrecioVentaMinorista"></label>
        <div class="input-group">
            <span class="input-group-text">S/</span>
            <input asp-for="PrecioVentaMinorista" class="form-control" type="number" min="0" step="0.01" />
        </div>
        <span asp-validation-for="PrecioVentaMinorista" class="text-danger"></span>
    </div>

        <div class="form-group">
        <label asp-for="PrecioVentaMayorista"></label>
        <div class="input-group">
            <span class="input-group-text">S/</span>
            <input asp-for="PrecioVentaMayorista" class="form-control" type="number" min="0" step="0.01" />
        </div>
        <span asp-validation-for="PrecioVentaMayorista" class="text-danger"></span>
    </div>

    <!-- 🔽 Campo nuevo para subir imagen -->
    <div class="form-group">
        <label for="Imagen">Imagen del producto</label>
        <input type="file" name="ImagenArchivo" class="form-control" accept="image/*" />
    </div>

    <button type="submit" class="btn btn-success mt-2">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Volver</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
